    <main role="main" class="container">
      <div class="jumbotron text-center">
        <h1>MEAN Authentication App</h1>
        <p class="lead">Welcome to this page built from scratch using mongo express angular2 node with passport-jwt and encryption with bcryptjs</p>
        <div>
        <a class="btn btn-lg btn-default" [routerLink]="['/register']" role="button">Register</a>
        <a class="btn btn-lg btn-default" [routerLink]="['/login']" role="button">Login</a>
      	</div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Express Backend</h2>
            <p>Solid Node.js/Express server using Mongoose to organize models and query the database</p>
          </div>
          <div class="col-md-4">
            <h2>Angular-CLI</h2>
            <p>Angular-CLI to generate components, services and more. Local dev server and easy compilation</p>
          </div>
          <div class="col-md-4">
            <h2>JWT Tokens</h2>
            <p>Full featured authentication using JSON web tokens. Login and store user data</p>
          </div>
        </div>

        <hr>

      </div>
    </main>