    <nav class="navbar navbar-expand-md navbar-default mb-4">
      <a class="navbar-brand" [routerLink]="['/']">MEAN Auth App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}">
            <a class="nav-link" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}">
            <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
          </li>
          <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}">
            <a class="nav-link" [routerLink]="['/profile']">Profile</a>
          </li>
          <li class="nav-item" *ngIf="!authService.loggedIn()"[routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
          </li>
          <li class="nav-item" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}">
            <a class="nav-link" [routerLink]="['/register']">Register</a>
          </li>
          <li class="nav-item" *ngIf="authService.loggedIn()">
            <a (click)="onLogoutClick()" class="nav-link" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </nav>